<clr-datagrid>
  <clr-dg-column>รหัสแจ้ง ID</clr-dg-column>
  <clr-dg-column>วันที่</clr-dg-column>
  <clr-dg-column>อาการ</clr-dg-column>
  <clr-dg-column>ประเภท</clr-dg-column>
  <clr-dg-column>#</clr-dg-column>

  <clr-dg-row *ngFor="let req of requests">
    <clr-dg-cell>{{req.request_code}}</clr-dg-cell>
    <clr-dg-cell>{{req.request_date | date }} {{req.request_time}}</clr-dg-cell>
    <clr-dg-cell>{{req.request_cause}}</clr-dg-cell>
    <clr-dg-cell>{{req.request_category_name}}</clr-dg-cell>
    <clr-dg-cell style="text-align: center;">
      <button class="btn btn-sm btn-success">
        <clr-icon shape="note"></clr-icon>
      </button>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{requests.length}} รายการ</clr-dg-footer>
</clr-datagrid>
