<div class="container">
  <div class="row">
    <div class="col-md-8 push-md-2">
      <div class="card">
        <div class="card-header">

        </div>
        <div class="card-block">
          <clr-alert [clrAlertType]="'alert-danger'" *ngIf="isError">
            <div class="alert-item">
              <span class="alert-text">
                {{errorMessage}}
              </span>
            </div>
          </clr-alert>

          <div class="card-text">
            <form>
              <section class="form-block">
                <div class="form-group row">
                  <div class="col-md-2">
                    <label for="username">Username</label>
                  </div>
                  <div class="col-md-10">
                    <input class="clr-form-control" [disabled]="userId" type="text" name="username" style="width:80%;"
                      [(ngModel)]="username" id="username">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-2">
                    <label for="password">Password</label>
                  </div>
                  <div class="col-md-10">
                    <input class="clr-form-control" name="password" [(ngModel)]="password" type="password"
                      style="width:80%;" id="password">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-2">
                    <label for="firstName">First name</label>
                  </div>
                  <div class="col-md-4">
                    <input class="clr-form-control" name="firstName" [(ngModel)]="firstName" type="text" id="firstName"
                      style="width:80%;">
                  </div>
                  <div class="col-md-2">
                    <label for="lastName">Last name</label>
                  </div>
                  <div class="col-md-4">
                    <input class="cllr-form-control" type="text" name="lastName" [(ngModel)]="lastName" id="lastName"
                      style="width:100%;">
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-2">
                    <label for="firstName">BirthDay</label>
                  </div>
                  <div class="col-md-4">

                    <input type="date" name="date" [(clrDate)]="birth">
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-md-2">
                    <label for="userType">User type</label>
                  </div>
                  <div class="col-md-3">
                    <select name="userTypeId" [(ngModel)]="userTypeId">
                      <option *ngFor="let u of userType" [value]="u.user_type_id">
                        {{ u.user_type_name }}
                      </option>
                    </select>
                  </div>

                </div>
                <div class="form-group row">
                  <div class="col-md-2">
                    <label for="userType">Active</label>
                  </div>
                  <div class="col-md-3">
                    <div class="toggle-switch">
                      <input type="checkbox" id="isActive" name="isActive" [(ngModel)]="isActive">
                      <label for="isActive">&nbsp;</label>
                    </div>
                  </div>

                </div>

              </section>
            </form>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-danger" routerLink="/admin">Back</button>
          <button class="btn btn-sm btn-success" (click)="save()"
            [disabled]="!username || (!password && !userId) || !firstName || !lastName || !userTypeId">
            <clr-icon shape="floppy"></clr-icon> Save data
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
